
body {
    background-color: black;
    color: white;
}
table {
    border: solid 1px white;
    font-family: "Papyrus";
    font-size: 14pt;
}
.title {
    font-family: "Papyrus";
}
#logo {
    size: 10%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.headings {
    font-family: "Papyrus";
}
#main-content {
    font-family: "Helvetica";
}
#invitation {
    text-align: center;
}
.top-nav {
    text-decoration: none;
    overflow: hidden;
    background-color: rgba(240, 248, 255, .52);
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 30pt;
    width: 100%;
    font-family: "Papyrus";
}
.top-nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid black;
}
.top-nav a:visited { 
    background-color:lightslategray;
  }
.top-nav a.active {
    background-color: #F63B50;
    color: white;
}
.top-nav a:hover {
    background-color: #8d1d2a;
    color: white;
}

